<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login | SimuTex</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/dist/css/login.css" rel="stylesheet">
</head>

<body class="text-center">

    <div class="container">
        <form class="form-signin float-top" action="/welcome" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Set root password</h1>
            <label for="inputPasswordA" class="sr-only">Password</label>
            <input type="password" id="inputPasswordA" name="passwordA" class="form-control" placeholder="Password" required autofocus>
            <label for="inputPasswordB" class="sr-only">Confirm Password</label>
            <input type="password" id="inputPasswordB" name="passwordB" class="form-control" placeholder="Repeat password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm Password</button>
        </form>
    </div>

</body>

</html>